    body {
        background-image: url("img/tlo.png");
    }

    #logo {
        color: white;
        text-align: center;
        width: auto;
        height: 20px;
        padding: 15px;
        font-family: 'Ubuntu', sans-serif;
        font-size: 30px;
    }

    #main {
        width: auto;
        height: 670px;
    }

    #napis1 {
        color: white;
        text-decoration: none;
        transition: 0.7s;
    }

    #napis1:hover {
        color: brown;
        text-decoration: none;
    }
    
    #btn1 {
        margin-left: 100px;
        margin-top: 280px;
        height: 75px;
        width: 300px;
        background-color: gray;
        border: 1px solid black;
        color: black;
        padding: 16px 32px;
        text-align: center;
        font-size: 16px;
        transition: 0.6s;
        font-family: 'Open Sans', sans-serif;
        float: left;
      }
      
    #btn1:hover {
        background-color:  darkred;
        color: white;
        cursor: pointer;
    }

    #btn2 {
        height: 75px;
        width: 300px;
        background-color: gray;
        border: 1px solid black;
        color: black;
        padding: 16px 32px;
        text-align: center;
        font-size: 16px;
        transition: 0.6s;
        font-family: 'Open Sans', sans-serif;
        float: left;
        margin-top: 280px;
        margin-left: 225px;
    }

    #btn2:hover {
        background-color: darkred;
        color: white;
        cursor: pointer;
    }
        
    #btn3 {
        height: 75px;
        width: 300px;
        background-color: gray;
        border: 1px solid black;
        color: black;
        padding: 16px 32px;
        text-align: center;
        font-size: 16px;
        transition: 0.6s;
        font-family: 'Open Sans', sans-serif;
        float: left;
        margin-top: 280px;
        margin-left: 225px;
    }
    
    #btn3:hover {
        background-color: darkred;
        color: white;
        cursor: pointer;
    }

    #btn4 {
        height: 75px;
        width: 300px;
        background-color: gray;
        border: 1px solid black;
        color: black;
        padding: 16px 32px;
        text-align: center;
        font-size: 16px;
        transition: 0.6s;
        font-family: 'Open Sans', sans-serif;
        float: left;
        margin-top: 80px;
        margin-left: 100px;
    }

    #btn4:hover {
        background-color: darkred;
        color: white;
        cursor: pointer;
    }

    #btn5 {
        height: 75px;
        width: 300px;
        background-color: gray;
        border: 1px solid black;
        color: black;
        padding: 16px 32px;
        text-align: center;
        font-size: 16px;
        transition: 0.6s;
        font-family: 'Open Sans', sans-serif;
        float: left;
        margin-top: 80px;
        margin-left: 225px;
    }

    #btn5:hover {
        background-color: darkred;
        color: white;
        cursor: pointer;
    }

    #btn6 {
        height: 75px;
        width: 300px;
        background-color: gray;
        border: 1px solid black;
        color: black;
        padding: 16px 32px;
        text-align: center;
        font-size: 16px;
        transition: 0.6s;
        font-family: 'Open Sans', sans-serif;
        float: left;
        margin-top: 80px;
        margin-left: 225px;
        margin-right: 100px;
    }

    #btn6:hover {
        background-color: darkred;
        color: white;
        cursor: pointer;
    }


    .tp {
        color: white;
        font-size: 20px;
        text-align: center;
        text-decoration: none;
    }
    
    #link1 {
        text-decoration: none;
    }

    #link1:hover {
        color: darkred;
        text-decoration: none;
    }
